// ===============================
// Skills section
// ===============================

#skills {
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    background: $color-theme--bg;
}


.skills-list li {
    @include text($color-base, $font-weight--medium, $font-size--small);
    @include add-border($br-width: $br-medium, $color: $color-theme--dark);
    display: inline-block;
    width: 27%;
    margin-right: 5%;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 5%;
    background: $color-theme--dark;
    transition: $trns-duration + 0.1s;
    &:hover {
        background: $color-theme--bg;
        color: $color-theme--dark;
    }
    &:nth-child(even) {
        @include add-border($br-width: $br-medium, $color: $color-theme--light);
        background: $color-theme--light;
        &:hover {
            background: $color-theme--bg;
            color: $color-theme--light;
        }
    }
    @include respond-to(medium) {
        width: 20%;
        font-size: $font-size--regular;
    }
    @include respond-to(large) {
        width: 12%;
    }
}

