
/* ===============================
// Base Styles
// ===============================*/


* {
    box-sizing: border-box;
}

body {
    font-family: $font-family--primary;
    line-height: $base--line-height;
    font-size: $base--font-size;
    font-weight: $font-weight--base;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

h2 {
    @extend %text-upper;
    @include text($color-secondary, $font-weight--bold, 1.4em);
    margin-bottom: 1.7em;
}

a {
    text-decoration: none;
    outline: 0;
}

button {
    outline: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

